<!DOCTYPE html>
<html>
  <%- include("partials/head")  %> 
  <body>
    <!-- Navbar (sit on top) -->
    <%- include("partials/navbar.ejs")  %> 

    <!-- Header -->
    <%- include("partials/header.ejs") %> 

    <!-- Page content -->
    <div class="ps-content">
      <!-- About Section -->
     <%- include("partials/about.ejs") %> 

      <hr />
      <!-- Menu Section -->
      <%- include("partials/menu-section.ejs") %> 

      <!-- Footer -->
      <%- include("partials/footer.ejs")  %> 
    </div>
  </body>
</html>
